@charset "UTF-8";

/* kleur codes
Donkerpaars: #210658;
Achtergrond beige: #FFFAF2;
Paars: #84529C;
Lichtblauw: #B1CAE8;
*/

/* fonts
font-family: 'Open Sans', sans-serif;
*/
html {
    font-size: 100%;
}

body {
    background-color: white;
    /*background-color: #eae8ff;*/
    color: #2d116d;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    padding: 0 0.2rem;
}

nav div {
    text-align: left;
}

/* footer */
.social {
    display: inline-block;
}

footer h3 {
    color: white;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    display: block;
}

footer small {
    color: white;
    display: block;
    font-size: 0.8rem;
    margin: auto;
}

footer ul li img {
    display: inline-block;
    width: 50px;
    margin: 0.5rem;
}

footer div {
    text-align: center;
}

footer ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

#android_description {
    padding: 5%;
}

@media (min-width: 767px) {
    nav {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 75px;
    }

    #program_img {
        padding-top: 75px
    }

    #android_description {
        padding-top: 100px;
    }
}

@media (min-width: 992px) {
    nav {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
    }

    #program_img {
        padding-top: 80px
    }

    #android_description {
        padding-top: 105px;
    }
}

@media (min-width: 1200px) {
    nav {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 90px;
    }

    #program_img {
        padding-top: 90px
    }

    #android_description {
        padding-top: 120px;
    }

    /* footer */
    footer h3 {
        line-height: 200%;
    }
}