@charset "UTF-8";

/* kleur codes
Donkerpaars: #210658;
Achtergrond beige: #FFFAF2;
Paars: #84529C;
Lichtblauw: #B1CAE8;
*/

/* fonts
font-family: 'Open Sans', sans-serif;
*/
html {
    font-size: 100%;
}

body {
    background-color: white;
    /*background-color: #eae8ff;*/
    color: #2d116d;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    padding: 0 0.2rem;
}

/* Topbar */
#brand {
    float: left;
    padding-left: 2rem;
    color: #B1CAE8;
}

#logo_small {
    float: left;
    width: 100%;
}
/* Einde Topbar */


/* secondpage */

#secondPage h1 {
    text-align: center;
    color: black;
}

#secondPage .fa {
    color: black;
}

#secondPage h3 {
    color: #210658;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

#secondPage footer {
    height: 50px;
    bottom: 0;
}

#secondPage nav {
    background-color: transparent;
}

#secondPage footer small {
    color: white;
    display: block;
    font-size: 0.8rem;
    margin: auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer div a {
    text-align: center;
    font-size: 1rem;
}

footer small {
    color: white;
    display: block;
    font-size: 0.8rem;
    margin: auto;
}

footer small {
    color: white;
    display: block;
    font-size: 0.8rem;
    margin: auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.logoSecond {
    display: block;
    margin: 40px auto;
}

div#centerDiv {
    width: 100%;
    text-align: center;
}

ul.centerUL {
    margin: 3rem auto;
    line-height: 1.4;
    padding-left: 0;
}

.centerUL li {
    display: inline;
    text-align: center;
}

.centerUL li a {
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: bold;
}

.centerUL li span a {
    color: #84529C;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: bolder;
    border-bottom: 2px solid #84529C;
}

#links a {
    text-align: center;
    display: block;
    margin: 0.5rem auto;
    color: #84529C;
    font-size: 1rem;
    font-weight: bold;
}

#links a:hover {
    text-decoration: underline;
}

#links p {
    width: 80%;
    margin: auto;
    text-align: center;
}

#links p:last-child {
    padding-bottom: 2rem;

}